<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FlashFocus</title>
    <link rel="stylesheet" th:href="@{/css/login-register.css}" href="/static/css/login-register.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Itim&display=swap" rel="stylesheet">
</head>
<body>
    <main>
        <header>
            <p class="title">Flash Focus</p>
            <a id="switch-login-register" class="button" th:href="@{/register}">Sign Up</a>
        </header>

        <section id="content">
            <div id="column-1" class="column">
                <div id="text-content">
                    <p class="sub-title">Login</p>
                    <p>Hey, welcome back!</p>
                </div>

                <h1 th:if="${param.error}">
                    Invalid username and password.</h1>
                <h1 th:if="${param.logout}">
                    You have been logged out.</h1>

                <form th:action="@{/login}" method="post">
                    <div class="group">      
                        <input type="text" name="username" required>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Username</label>
                    </div>
                        
                    <div class="group">
                        <input type="password" name="password" required>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label>Password</label>
                    </div>

                    <input type="submit" value="Login" class="button">
                </form>

            </div>
            <div id="column-2" class="column">
                <img th:src="@{/images/learning-cropped.png}" alt="Learning image">
            </div>
        </section>
    </main>
</body>
</html>