<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FlashFocus</title>
    <link rel="stylesheet" th:href="@{/css/verifyEmail.css}" href="../static/css/login-register.css"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Itim&display=swap" rel="stylesheet">
</head>
<body>
    <main>
        <img th:src="@{/images/email-icon.png}" alt="Email icon">

        <h1>Please Verify Your Email</h1>

        <p>You're almost there! We have sent an email to</p>
        <span th:text="${email}" class="bold"></span>
        <br>
        <p>Just click on the link in that email to complete your signup.</p>
        <p>If you don't see it, you may need to <span class="bold">check your spam</span> folder</p>
        <br>
        <p>Still can't find the email? No problem.</p>

        <div id="reVerify" class="button">Resend Verification Email</div>
    </main>
</body>
</html>